.grades.d-none
    .gradesList
        .grade-line
            p.sub Matemaatika
            p 1
            p 2
            p 3
    .classes
        h3 Teemad
        .classesList
            .class
                h5 Matemaatika
                h5 Läbitud