.diary.d-none
    .diaryList
        .diary
            h5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dolorum ab temporibus ipsum? Quia architecto velit corporis dolore unde magni temporibus eos doloremque aliquam maiores aut necessitatibus numquam vel dicta dignissimos laudantium odio ducimus dolorum, minus eius praesentium porro. Alias eum cum blanditiis!
            .extra
                p test
                p teacher