div(style="width: 280px; height:100%; position:absolute; transform: translate(48px,0);").d-flex.flex-column.flex-shrink-0.p-3.bg-light.shadow
    a(href="/").d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.link-dark.text-decoration-none Siseveeb
    hr
    ul.nav.nav-pills.flex-column.mb-auto
        li.mb-1.nav-item
            a(href="/student/info").nav-link.link-dark Info
        li.mb-1.nav-item
           a(href="/student/kutseope").nav-link.link-dark Kutseõpe
        li.mb-1.nav-item
            a(href="/student/dokumendid").nav-link.link-dark Dokumendid
        li.mb-1.nav-item
            a(href="/student/tagasiside").nav-link.link-dark Tagasiside
    hr
    .dropdown
        a(href="#" data-bs-toggle="dropdown" aria-expanded="false").d-flex.align-items-center.link-dark.text-decoration-none.dropdown-toggle#dropdownUser2 Kevin Hartman
        ul(aria-labelledby="dropdownUser2").dropdown-menu.text-small.shadow
            li 
                a(href="#").dropdown-item test
                script(src="/js/adminCheck.js")