extends default 

block content 
    .cont
        include _nav_side
        .main-panel.bg-white
            .split
                .upper
                    ul
                        li 
                            button(onclick="showTp()").active#tpBtn Tunniplaan 
                        li 
                            button(onclick="showP()")#pBtn Päevik
                        li 
                            button(onclick="showH()")#hBtn Hinded
                        li
                            button(onclick="showL()")#lBtn Edetabel
                    hr
                .lower
                    include modules/_module_grades
                    include modules/_module_schedule
                    include modules/_module_diary
                    include modules/_module_leaderboard
        script(src="/js/kutseope.js")