extends default 
block content 

    .cont
        include _nav_side
        .main-panel.bg-white
            .split
                .upper
                    ul
                        li 
                            button(onclick="showOp()").active#OpBtn Õpetajad
                        li 
                            button(onclick="showK()")#KBtn Kursused
                    hr
                .lower
                    include modules/_module_extra_subjects
                    include modules/_module_teachers
            script(src="/js/info.js")
