.subjects.d-none
    .subject-list
        .subject.in
            h3 Programmeerimine 
            button.btn.btn-secondary Loobu õpetamisest
        .subject
            h3 Matemaatika 
            button.btn.btn-primary Alusta õpetamist
        .subject
            h3 Keemia 
            button.btn.btn-primary Alusta õpetamist